<!DOCTYPE html>
<html>
<head>
<title>Devices</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<!-- Bootstrap -->
<link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
<style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
</style>
<link href="{{ url_for('static', filename='bootstrap/css/bootstrap-responsive.css') }}" rel="stylesheet" media="screen">
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">lws</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="/devices/all">Devices</a></li>
              <li><a href="https://github.com/t3hpaul/lws/blob/master/worklog.md">Wiki</a></li>
              <li><a href="https://github.com/t3hpaul/lws">Github</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

<div class="container">

{% for device in all_devices %}
	<div class="row">
		<div class="span9">
			<b> Device Name: </b><br/>
			<b> Device ID: </b>{{ device.devid }}<br/>
			<!-- <b> IP Address: </b>{{ device.ipaddress }}<br/> -->
			<b> Location: </b><br/>
			<b> Last Check in: </b> {{ device.h }} : {{ device.min }} </br>
			<div class="btn-group">
 				<a class="btn btn-primary" href="/devices/device?devid={{ device.devid }}"> View</a>
  				<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
  				<ul class="dropdown-menu">
   	 				<li><a data-toggle="modal" href="#editModal"><i class="icon-pencil"></i> Edit</a></li>
    					<li><a href="#"><i class="icon-trash"></i> Delete</a></li>
    				<!--<li class="divider"></li> -->
   
  				</ul>
			</div>

		</div>
	</div>

{% endfor %}
</div>

        <div id="editModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="myModalLabel">Edit Device Settings</h3>
                </div>
                <div class="modal-body">
                        <p>Edit settings for device here.</p>
                </div>
                <div class="modal-footer">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                        <button class="btn btn-primary">Save changes</button>
                </div>
        </div>
   

<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="{{ url_for('static', filename ='bootstrap/js/bootstrap.min.js') }}"></script>
</body>
</html>
