<!DOCTYPE html>
<html>
<head>
<title>Devices</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<!-- Bootstrap -->
<link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
<style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
</style>
<link href="{{ url_for('static', filename='bootstrap/css/bootstrap-responsive.css') }}" rel="stylesheet" media="screen">
</head>
<body>

      <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">lws</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="/devices/all">Devices</a></li>
              <li><a href="https://github.com/t3hpaul/lws/blob/master/worklog.md">Wiki</a></li>
              <li><a href="https://github.com/t3hpaul/lws">Github</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
<div class="container">	
	<p><h2> Device {{ dev_info.devid }}</h2></p> 
	<p><h3> Current Device Stats:</h3></p>
	<p><h4> Checked in last on {{ current_record.month }}/{{ current_record.d }}/{{ current_record.y }} at {{ current_record.h }}:{{ current_record.min }}</h4></p><br>

	<p><h4> Sensor Data: </h4></p>
	<!--{{ sensor_data }}<br> -->
	
	{% for key,value in sensor_data.iteritems() %}
		<b>{{ key }}</b>:{{ value }}<br>
	{% endfor %}	

</div>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='get_data.js') }}"></script>
<div id="chart_div" style="width: 900px; height: 500px;"></div>



<!-- <script src="http://code.jquery.com/jquery-latest.js"></script> -->
<script src="{{ url_for('static', filename ='bootstrap/js/bootstrap.min.js') }}"></script>
<!-- <script src="http://d3js.org/d3.v3.min.js"></script> -->
</body>
</html>
